apache-airflow==3.2.0 --constraint "https://raw.githubusercontent.com/apache/airflow/constraints-3.0.0/constraints-3.10.txt"requests==2.33.1
pandas==2.3.3
streamlit==1.56.0
python-dotenv==1.2.2
db-dtypes==1.5.1
pyarrow==23.0.1
numpy==2.4.4
loguru==0.7.3
pytest==9.0.2
flake8==7.3.0
boto3==1.42.83
json-flatten==0.3.1
supabase==2.28.3
plotly==6.7.0